body {
    background-color: rgba(0, 0, 0, 0.9);
}

#titlebar {
    background-color: red
}

#nav {
    background-color: black
}

#navText {
    font-size: medium;
    color: white;
}

#dropdown {
    color: white;
}

#title {
    font-size: large;
}

#supervisor {
    background-color: rgb(170, 9, 9);
    color: white;
}