.container {
 display: flex;
}

#col-1 {

 padding: 20px;
 flex: 1;
 max-width: 40%;
}
.container h1{
 padding: 20px;
 text-align: center;
 color: white;
 background-color: black ;
}
.container h2{
 color: white;
}

ul{
 background-color: white ;
 padding: 30px;
}
#col-2 {
 padding: 20px;
 flex: 1;

}
